<div class="container">
  <form class="card" [formGroup]="myForm" (ngSubmit)="submit()">
    <h1>Angular Forms</h1>

    <div class="form-control">
      <label>Email</label>
      <input type="text" placeholder="Email" formControlName="email">
      <div class="validation"
           *ngIf="myForm.get('email').invalid && myForm.get('email').touched"
      >
        <small *ngIf="myForm.get('email').errors.required">
          Email could not be empty.
        </small>
        <small *ngIf="myForm.get('email').errors.email">
          Please, enter the correct email.
        </small>
      </div>
    </div>

    <div class="form-control">
      <label>Password</label>
      <input type="password" placeholder="Password" formControlName="password">
      <div class="validation"
           *ngIf="myForm.get('password').invalid && myForm.get('password').touched"
      >
        <small *ngIf="myForm.get('password').errors.required">
          Password could not be empty.
        </small>
        <small *ngIf="myForm.get('password').errors.minlength">
          The length of password should not less than {{myForm.get('password').errors.minlength.requiredLength}}.
          The current length is {{myForm.get('password').errors.minlength.actualLength}}
        </small>
      </div>
    </div>

    <div class="card" formGroupName="address">
      <h2>Адрес</h2>

      <div class="form-control">
        <label>Страна</label>

        <select formControlName="country">
          <option value="il">Israel</option>
          <option value="ca">Canada</option>
          <option value="aus">Australia</option>
        </select>
      </div>

      <div class="form-control">
        <input type="text" formControlName="city" placeholder="city">
      </div>

      <button class="btn" type="button">Choose capital</button>
    </div>

    <div class="card">
      <h2>Your skills</h2>
      <button class="btn" type="button">Add skill</button>
      <div class="form-control">
        <label></label>
        <input type="text">
      </div>
    </div>

    <button class="btn" type="submit" [disabled]="myForm.invalid">Send</button>

  </form>
</div>
