<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Enter to admin panel</h2>

<!--  error (or any other name) in async is local variable -->
  <div class="alert alert-danger" *ngIf="auth.error$ | async as error">
    {{ error }}
  </div>
  <div class="alert alert-info" *ngIf="needLoginMessage">
    {{ needLoginMessage }}
  </div>
  <div
    class="form-control"
    [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}"
  >
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email">
    <div
      class="validation"
      *ngIf="form.get('email').touched && form.get('email').invalid"
    >
      <small *ngIf="form.get('email').errors.required">
        Email should not be empty.
      </small>
      <small *ngIf="form.get('email').errors.email">
        This is not email.
      </small>
    </div>
  </div>
  <div
    class="form-control"
    [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}"
  >
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password">
    <div
      class="validation"
      *ngIf="form.get('password').touched && form.get('password').invalid"
    >
      <small *ngIf="form.get('password').errors.required">
        Password should not be empty.
      </small>
      <small *ngIf="form.get('password').errors.minlength">
        Password should not be less than
        {{ form.get('password').errors.minlength.requiredLength }}
        symbols (now just
        {{ form.get('password').errors.minlength.actualLength }}
        ).
      </small>
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="form.invalid || submitted"
  >Enter</button>
</form>
